*{
    margin: 0px;
}
body{  
    --background-color:hsl(0, 0%, 98%);
    --element-color: hsl(0, 0%, 100%);
    --text-color:hsl(200, 15%, 8%);
    --image-color:hsl(0deg 0% 79.79%);
    font-family: "Nunito Sans", sans-serif;
}
main,header{
    background-color:var(--background-color);
    color: var(--text-color);
}
/* main{
    margin-top: -10px;
} */
a{
    color: inherit;
}
main.dark,header.dark{
    --background-color:hsl(207, 26%, 17%);
    --text-color:hsl(0, 0%, 100%);
    --element-color: hsl(209, 23%, 22%);
}
.heading{
    background-color: var(--element-color);
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.header-style{
   display: flex;
   justify-content: space-between;
   height: 50px;
   align-items: center;
   max-width: 1200px;
   margin: auto;
}
.header-style h2{
    padding-left: 40px;
    font-weight: 800;
    font-size: 20px;
}
.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    column-gap: 10px;
    cursor: pointer;
}
.theme span{
    font-size: 14px;
    font-weight: 600;
}
.search-bar{
    display: flex;
    justify-content: space-between;
    padding:25px;
}
.search-country{
    background-color: var(--element-color);
    color: var(--text-color);
    display: flex;
    padding: 10px;
    column-gap: 11px;
    border-radius: 7px;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    width: 30%;
    align-items: center;
}
.fa-solid{
    color: var( --image-color);
}
.search-country input{
    width: 100%;
    background-color: inherit;
    /* flex-grow: 1; */
    align-self: stretch;
    cursor: pointer;
    border-style: none;
   outline: none;
}
.search-country ::placeholder{
    color: rgb(201, 200, 200);
    font-weight: 550;
    font-family: inherit;
    font-size: 9px;
}
.search-region{
    background-color: var(--element-color);
    color: var(--text-color);
    outline: none;
    border: none;
    border-radius: 3px;
    font-size:11px ;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    width: 140px;
}

a{
    text-decoration-line: none;
}
.country-cards{
    margin-top: 40px;
    display: flex;
   row-gap: 42px;
   column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    display: block;
    background-color: var(--element-color);
    color: var(--text-color);
    width: 197px;
    height: 343px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow:  rgba(0, 0, 0, 0.2) 0 0 4px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}
.cards img{
    width: 100%; 
}
.card-text{
    margin-top: 24px;
    padding-inline: 10px;
}
.card-text p{
    margin-top: 4px;
}
.card-text h3{
    margin-bottom: 15px;
}
@media(max-width:542px){
   .country-cards{
    justify-content: center;
   }
   .cards{
    height: 390px;
    width: 227px;
   }
   .search-bar{
    display: flex;
    row-gap: 31px;
    flex-direction: column;
   }
   .search-country{
    width: 98%;
   }
   .search-region{
    height: 40px;
   }
   .header-style h2{
    padding-left: 17px;
    font-size: 11px;
   }
   .theme span{
    font-size: 11px;
   }
   .fas{
    font-size: 14px;
   }
}