*{
    margin: 0px;
}
body{  
    --background-color:hsl(0, 0%, 98%);
    --element-color: hsl(0, 0%, 100%);
    --text-color:hsl(200, 15%, 8%);
    --image-color:hsl(0deg 0% 79.79%);
    background-color:var(--background-color);
    color: var(--text-color);
    font-family: "Nunito Sans", sans-serif;
}
main{
    min-height: calc(100vh - 143px);
}
.dark{
    --background-color:hsl(207, 26%, 17%);
    --text-color:hsl(0, 0%, 100%);
    --element-color: hsl(209, 23%, 22%);;
    background-color: var(--background-color);
    color: var(--text-color);
}
a{
    text-decoration-line: none;
    color: inherit;
}
.heading{
    background-color: var(--element-color);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
}
.header-style{
   display: flex;
   justify-content: space-between;
   height: 50px;
   align-items: center;
   max-width: 1300px;
   margin-inline:auto ;
}
.header-style h2{
    padding-left: 18px;
    font-weight: 800;
    font-size: 20px;
}
.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 13px;
    column-gap: 10px;
}
.theme span{
    font-size: 14px;
    font-weight: 600;
}
.main{
    padding: 46px;
    display: flex;
    flex-direction: column;
    row-gap: 47px;
    margin-inline: auto;
}
.back-button{
    background-color: var(--element-color);
    color: var(--text-color);
    cursor: pointer;
    display: inline;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
   border-radius: 3px;
   padding-inline: 18px;
   padding-top: 3px;
   padding-bottom: 3px;
   font-size: 10px;
}
.country-details{
    display: flex;
    align-items: center;
   column-gap: 50px;
}
.country-details img{
    width: 40%;
    border: 1px solid;
}
.texts{
     margin-top: 16px;
     font-size: 14px;
     font-weight: 400;
     display: flex;
     column-gap: 90px;
}
.first-para {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}
.second-para{
    width: 219px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}
.border-country{
    display: flex;
    align-items: flex-start;
    gap: 9px;
    
    margin-top: 37px;
    font-size:14px ;
}
.border-country b{
   flex-shrink: 0;
}
.border-country a{
    background-color: var(--element-color);
    color: var(--text-color);
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
    margin-inline: 3px;
    border-radius: 3px;
   padding-inline: 18px;
   padding-top: 3px;
   padding-bottom: 3px;
   font-size: 10px;
}
.border-box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}
@media(max-width:913px){
    .header-style{
        width: 100%;
        height: 100%;
    }
    .heading{
        height: 60px;
    }
    .header-style h2{
        font-size: 12px;
    }
    .theme span{
        font-size: 9px;
    }
    .country-details img{
        width: 60vw;
    }
    .country-details{
        row-gap: 39px;
        flex-direction: column;
        align-items: flex-start;    
    }
    .texts{
        flex-direction: column;
        row-gap: 37px;
    }
    .back-button{
        margin-top:25px ;
    }
    .border-country b{
        margin-bottom: 5px;
        display: block;
    }
    .border-country {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .top-level-tag{
        width: auto;
    }
}